In [11]:
# core
import re
import os
import sys

# custom
sys.path.append('../code')
import bittrex_test as btt
import bittrex_acct as ba
import bittrex_eda as be

# installed
import pandas as pd
import numpy as np
from datetime import datetime
from bittrex import Bittrex

# plotting
import matplotlib.pyplot as plt



HOME_DIR = btt.get_home_dir()
MARKETS = btt.get_all_currency_pairs()

In [2]:
bdf, sdf = be.read_order_book_old('BTC_LTC')

In [3]:
bdf.shape

(20549107, 2)

In [4]:
sdf.shape

(47449121, 2)

In [5]:
bdf.head()

                            Quantity      Rate
timestamp
2017-06-03 21:15:09.220993  2.182342  0.010710
2017-06-03 21:15:09.220993  0.088454  0.010710
2017-06-03 21:15:09.220993  1.549008  0.010709
2017-06-03 21:15:09.220993  0.604929  0.010709
2017-06-03 21:15:09.220993  1.492389  0.010709

In [6]:
times = bdf.index.unique()

In [22]:
b_first = bdf.loc[times[0]]
s_first = sdf.loc[times[0]]

In [23]:
b_first.shape

(1134, 2)

In [24]:
s_first.shape

(2581, 2)